<!Doctype HTML>
<html>
<head>
	<title>User Profile</title>
	<!-- <link rel="stylesheet" href="css/style_admin.css" type="text/css"/> -->
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style_profile.css')}}"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo">USER PROFILE</p>
  <!-- <div class="profile"></div> -->
  <a href="#" class="icon-a"><span style="color: white; font-family: 'Poppins', sans-serif;">NAME:</span> &nbsp;{{username}}</a>
  <a href="#"class="icon-a"><span style="color: white; font-family: 'Poppins', sans-serif;">EMAIL:</span> &nbsp;{{email}}</a>

</div>

<div id="main">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Proflie Info</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Proflie Info</span>
</div>
	
	<div class="col-div-6">

</div>
</div>
	<br><br><br>
	
	<div class="col-div-3">
		<a href="#">
    <div class="box">
			<p>CONTACT</p>
		</div>
  </a>
	</div>
	<div class="col-div-3">
    <a href="/#">
		<div class="box">
			<p>DELETE</p>
		</div>
    </a>
	</div>
  
	
	
	<div class="clearfix"></div>
	<br/><br/>

	<div class="col-div-8">
		<div class="box-8">
      <p>Interviews Performed By {{username}}: {{no_intrv}}</p>
		<div class="content-box">
			<!-- <p>Interviews Performed By {{username}}</p> -->
			<!-- <br/> -->
			
      {% for table in tables %}
      
      {{ table|safe }}
      {% endfor %}
      

		</div>
	</div>
	</div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
